In [46]:
import IPython
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from IPython import get_ipython
import warnings
warnings.filterwarnings('ignore')
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

#LGBM Model
import lightgbm as lgb

#Sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [47]:
df_recommended= pd.read_excel('Cropping_System_final.xlsx')

In [48]:
df_recommended.shape

(360, 6)

In [49]:
df_recommended.head()

   SAMPLE   LATITUTE  LONGITUDE  Season   SQI   Label
0       1  26.733005  93.077304  Kharif  0.77    Rice
1       2  26.733005  93.077304    Rabi  0.77  Fallow
2       3  26.715920  93.088185  Kharif  0.84    Rice
3       4  26.715920  93.088185    Rabi  0.84  Fallow
4       5  26.711278  93.103950  Kharif  0.85    Rice

In [50]:
df_recommended.tail()

     SAMPLE   LATITUTE  LONGITUDE  Season       SQI            Label
355     356  26.931202  93.735914    Rabi  0.497533  Rabi_vegetables
356     357  26.861800  93.626930  Kharif  0.501631             Rice
357     358  26.861800  93.626930    Rabi  0.501631  Rabi_vegetables
358     359  26.825983  93.641407  Kharif  0.526805             Rice
359     360  26.825983  93.641407    Rabi  0.526805  Rabi_vegetables

In [51]:
df_recommended.columns

Index(['SAMPLE', 'LATITUTE', 'LONGITUDE', 'Season', 'SQI', 'Label'], dtype='object')

In [52]:
df_recommended.duplicated().sum()

0

In [53]:
df_recommended.isnull().sum()

SAMPLE       0
LATITUTE     0
LONGITUDE    0
Season       0
SQI          0
Label        0
dtype: int64

In [54]:
df_recommended.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SAMPLE     360 non-null    int64
 1   LATITUTE   360 non-null    float64
 2   LONGITUDE  360 non-null    float64
 3   Season     360 non-null    object
 4   SQI        360 non-null    float64
 5   Label      360 non-null    object
dtypes: float64(3), int64(1), object(2)
memory usage: 17.0+ KB

In [55]:
df_recommended.describe()

           SAMPLE    LATITUTE   LONGITUDE         SQI
count  360.000000  360.000000  360.000000  360.000000
mean   180.500000   26.850908   93.456844    0.620505
std    104.067286    0.060338    0.209068    0.092878
min      1.000000   26.680916   93.067830    0.486181
25%     90.750000   26.813133   93.232862    0.550000
50%    180.500000   26.852389   93.533057    0.600000
75%    270.250000   26.892377   93.634057    0.660000
max    360.000000   26.967178   93.768739    0.870000

In [56]:
df_recommended.nunique()

SAMPLE       360
LATITUTE     168
LONGITUDE    167
Season         2
SQI           82
Label          6
dtype: int64

In [57]:
df_recommended['Label'].unique()

array(['Rice', 'Fallow', 'Potato', 'Rapseed', 'Blackgram',
       'Rabi_vegetables'], dtype=object)

In [58]:
df_recommended['Label'].value_counts()

Rice               160
Fallow             145
Rabi_vegetables     20
Potato              15
Rapseed             11
Blackgram            9
Name: Label, dtype: int64

In [59]:
df_recommended=df_recommended[~df_recommended['Label'].isin(['Fallow'])]

In [60]:
df_recommended.shape

(215, 6)

In [61]:
crop_summary =pd.pivot_table(df_recommended, index=['Label'], aggfunc='mean')

In [62]:
crop_summary

                  LATITUTE  LONGITUDE  SAMPLE       SQI
Label
Blackgram        26.844390  93.543532  190.00  0.601111
Potato           26.845375  93.320661  106.00  0.657333
Rabi_vegetables  26.904894  93.688485  341.00  0.560937
Rapseed          26.840890  93.526584  170.00  0.607273
Rice             26.851964  93.447174  180.25  0.622506

In [63]:
df_recommended.drop(['SAMPLE','LATITUTE','LONGITUDE'], axis=1, inplace=True)

In [64]:
df_recommended.head()

   Season   SQI Label
0  Kharif  0.77  Rice
2  Kharif  0.84  Rice
4  Kharif  0.85  Rice
6  Kharif  0.80  Rice
8  Kharif  0.81  Rice

In [65]:
df_recommended_encoded = pd.get_dummies(df_recommended, columns = ['Season'])

In [66]:
df_recommended_encoded.head()

    SQI Label  Season_Kharif  Season_Rabi
0  0.77  Rice              1            0
2  0.84  Rice              1            0
4  0.85  Rice              1            0
6  0.80  Rice              1            0
8  0.81  Rice              1            0

In [67]:
df_recommended_encoded.to_excel("Cropping_System_final_Model.xlsx")